/*** Hero section ***/
.c-hero-section {
    padding-block-end: 12rem;
    position: relative;
}

.c-hero {
    @media (min-width: $desktop-md) {
        padding-block-start: 5rem;
        max-height: 90vh;
    }
}

.c-hero-bkg__img {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 37vh;
}

.c-hero-pitch {
   margin-inline-start: 1.5rem;
   margin-inline-end: 1.5rem;

    @media (min-width: $desktop) {
        margin-inline-start: 2.5rem;
    }
}

.c-hero-pitch__icon{
    display: flex;
    align-items: center;
    margin-block-start: 2rem;
    background-color: var(--color-grey-light);
    border-radius: 2.2rem 1rem 1rem 2.2rem;
    max-width: 100%;

    @media (min-width: 600px) {
        max-width: 80%;
    }

    @media (min-width: $mobile-sm) {
        max-width: 60%;
    }

    @media (min-width: $mobile) {
        max-width: 100%;
    }

    @media (min-width: $desktop) {
        margin-block-start: 12rem;
    }

    .c-hero-icon {
        background-color: var(--color-warning);
        color: var(--color-white);
        padding-block-start: 0.4rem;
        padding-inline-start: 0.4rem;
        padding-inline-end: 0.4rem;
        margin-inline-end: 0.5rem;
        border-radius: 50%;
    }
}


.c-hero-btn-container {
    margin-block-start: 2rem;
    a {
        text-align: center;

        @media (min-width: 400px) {
            margin-inline-start: 2rem;
        }
    }
}

.c-hero-img {
    margin: 0 auto;
    z-index: 5;
}


/***  Companies section ***/
.c-companies-section {
    h4 {
        margin-block-end: 2rem;
    }
    img {
        margin: 1.5rem;
    }
}


/*** Smart jackpots section ***/
.c-smart-title__container {
    h2 {
        margin-block-end: 2rem;

        @media (min-width: $mobile) {
            margin-inline-end: 2rem;
        }
    }

    p {
        padding-block-start: 3rem;
        padding-block-end: 1rem;
        margin-block-end: 2rem;
        padding-inline-start: 3rem;
        border-left: 1px solid #b9b9b8;
        height: 8rem;
    }
}

.c-smart__content {
    text-align: center;
    margin-block-end: 2rem;
    padding-block-start: 2rem;
    width: 18rem;
    margin: 0 auto;

    @media (min-width: $mobile) {
        text-align: left;  
    }

    .c-smart__img {
        @media (min-width: $mobile) {
            margin: 0 1rem 0 0;
        }
    }

    h3 {
        margin-block-start: 1rem;
        margin-block-end: 1rem;
    }
}

/*** Designed section ***/
.c-designed__img {
    margin: 3rem auto;
}

.c-designed__content {
    @media (min-width: $mobile) {
        margin-block-start: 2rem;
        margin-inline-start: 2rem;
        max-width: 430px;
    }

    h2 {
        margin-block-end: 2.1875rem;
    }

    button {
        margin-block-start: 2rem;
    }
}


/*** Our App section ***/
.c-our-app {
    p {
        margin: 2.5rem auto;
        max-width: 50rem;
    }
}
.c-our-app__content {
    margin-block-start: 3rem;
    text-align: center;

    p {
        max-width: 20rem;
    }
}


/*** Ultimate section ***/
.c-ultimate-section {
    background: url('../images/ultimate-img.png');
    background-size: cover;
    background-position: 100% 54%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-ultimate {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-md) {
        flex-direction: row;
    }
}

.c-ultimate__container {
    @media (min-width: $desktop-md) {
        width: 60%;
    }

    h2,
    p {
        margin-block-end: 2rem;
        text-align: center;

        @media (min-width: 1600px) {
            max-width: 25rem;
            text-align: left;
            margin-inline-start: 1rem;
        }
    }

    button {
        display: flex;
        justify-content: center;

        @media (min-width: 991px) {
            margin: 3rem auto;
        }

        @media (min-width: 1600px) {
            margin: 3rem 2rem;
        }
    }
}

.c-ultimate__content {
    margin-block-start: 3rem;
    text-align: center;

    @media (min-width: 1600px) {
        text-align: left;
    }

    h3 {
        margin-block-start: 2rem;
    }

    p {
        max-width: 17.5rem;
        margin: 1rem auto 2rem;

        @media (min-width: 1440px) {
            text-align: center;
        }

        @media (min-width: 1600px) {
            text-align: left;
            margin: 1rem 0 2rem;
        }
    }
}

.c-ultimate-img__container {
    position: relative;
    margin: 0 auto;
    margin-block-start: 3rem;

    @media (min-width: $desktop-md) {
        width: 40%;
    }

    img {
        width: 80%;

        @media (min-width: $desktop-md) {
            width: 100%;
        }
    }

    .c-ultimate-img--left {
        max-width: 90vw;
        margin: 0 auto;

        @media (min-width: $desktop-md) {
            padding-block-start: 7rem;
        }
    }

    .c-ultimate-img--right {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 90vw;
        margin: 0 auto;
        transform: rotateX(15deg);  

        @media (min-width: 800px) {
            top: 1rem;
            right: -5rem;
        }

        @media (min-width: $desktop-md) {
            top: 6rem;
        }

        @media (min-width: 1440px) {
            right: -9.5rem;
        }

        @media (min-width: 1600px) {
            right: -12.5rem;
        }
    }
}


/*** Download section ***/
.c-download-content__container {
    margin-block-end: 3rem;

    @media (min-width: 1150px) {
        margin-inline-start: 6rem;
    }
    @media (min-width: 1600px) {
        margin-block-start: 4rem;
        margin-inline-start: 13rem;
    }

    h2,
    p {
        margin-block-end: 2rem;
    }
}

.c-download-content__img {
    @media (min-width: 500px) {
        img:first-child {
            margin-inline-end: 2rem;
        }
    }
}

.c-download-img__container {
    margin-block-end: -2rem;

    @media (min-width: 420px) {
        margin-block-end: -2.5rem;
    }
    @media (min-width: 500px) {
        margin-block-end: -2.8rem;
    }
    @media (min-width: 570px) {
        margin-block-end: -3.2rem;
    }
    @media (min-width: 650px) {
        margin-block-end: -3.5rem;
    }
    @media (min-width: 700px) {
        margin-block-end: -3.7rem;
    }
    @media (min-width: 760px) {
        margin-block-end: -4rem;
    }

    img {
        @media (min-width: 1024px) {
            height: 70%;
        }
        @media (min-width: 1600px) {
            height: 100%;
        }
    }
}


/*** Footer ***/
.c-footer__logo {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;

    a {
        color: var(--color-white);
    }
}

.c-footer__icons {
    color: var(--color-primary-black);
    text-align: center;
    margin-block-start: 3.75rem;
    margin-block-end: 5rem;

    svg:hover {
        color: var(--color-white);
    }
}

.c-footer__links {
    margin-block-start: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 991px) {
        flex-direction: row;
    }

    a {
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
        color: var(--color-white);

        @media (min-width: 991px) {
            margin-inline-start: 1rem;
            margin-inline-end: 1rem;
        }

        &:hover {
            color: var(--color-warning);
        }
    }

}

